
.custom-select {
    display: inline-block;
    width: 100%;
    color: #495057;
    padding: 0;
    height: calc(1.5em + .75rem + -5px);
    border: 1px solid #ced4da;
    border-radius: 1.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.mblock{
    width: 265px;
    display: inline-block;
    height: 110px;
    text-align: center;
    margin: 10px;
    background-color: #FFF;
    border: 0.5px solid #95959583;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
   
  }
  /* .col-md-4{
    display: contents;
  } */
  .col-md-12{
    text-align: center;
  }
 
  .cblock{
    display: block;
    font-weight: bold;
  }
  .mblock:hover{
    width: 265px;
    display: inline-block;
    height: 110px;
    text-align: center;
    margin: 10px;
    background-color: #8aabf1;
    border: 0.5px solid #95959583;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
  }
  .fa-home{
    color: #4267b2;
  }