<!-- <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="mblock"  (click)="modalDelete.show()">
                    <div class="cblock">
                        Phòng Ngủ
                    </div>
                    <div class="cblock">
                        <img width="50" src="assets/32officeicons-1_89729.png">
                    </div>
                    <div class="cblock">
                       Đang Bật
                    </div>
                </div>
                <div class="mblock"  (click)="modalDelete.show()">
                    <div class="cblock">
                        Phòng Ngủ
                    </div>
                    <div class="cblock">
                        <img width="50" src="assets/32officeicons-1_89729.png">
                    </div>
                    <div class="cblock">
                       Đang Bật
                    </div>
                </div>
                <div class="mblock"  (click)="modalDelete.show()">
                    <div class="cblock">
                        Phòng Ngủ
                    </div>
                    <div class="cblock">
                        <img width="50" src="assets/32officeicons-1_89729.png">
                    </div>
                    <div class="cblock">
                       Đang Bật
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-modal #modalDelete [modalTitle]="'nội dung'" [width]="500" [zIndex]="zIndex"[backgroundcolor]="'#4267b2'" [keydownesc]="true" [closemodal]="true" [maximizable]="false" [maximized]="false" [south]="false" [east]="false" [southEast]="false">
    <ng-container class="app-t-header">
    </ng-container>
    <ng-container class="app-modal-body">
      <div class="form-row">
        <div class="form-group col-md-6">abc</div>
        <div class="form-group col-md-6">xyz</div>
      </div>
    </ng-container>
    <ng-container class="app-modal-footer">
      <button type="button"  style="width: 75px;" class="btn btn-info btn-sm">
        <i class="far fa-save tu"></i>
        Xóa</button>
      <button type="button" class="btn btn-info btn-sm" style="float: right;" (click)="modalDelete.hide()">
        <i class="far fa-times-circle"></i>
        Thoát</button>
    </ng-container>
  </app-modal> -->